body {
  font-family: "Open Sans", sans-serif;
}

h3{
  text-align: left;
  text-decoration-color: aqua;
}

p{
  text-align: left;
 }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #3f9679;
  margin: 1em 0;
  padding: 0;
}

img {
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

body {
  background-color:#E5D5D5;
}